/**
 * @file
 * Feed icon styles for Bartik.
 */

.feed-icon {
  border-bottom: none;
  display: block;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  background: url(/core/misc/feed.svg) 50% 50%;
}
