/**
 * @file
 * Visual styles for the site branding block in Bartik.
 */

.site-branding__logo a {
  background-color: transparent;
  height: 98px;
  display: block;
  background: url(../../images/gerb.svg) right top no-repeat;
  width: 61px;
}
.site-branding__logo a img {
  display: none;
}

.site-branding__name a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  height: 98px;
  display: block;
  background: url(../../images/ahph.svg) right top no-repeat;
  width: 261px;
}


@media all and (min-width: 768px) {
  .site-branding__name a {
  }
  .site-branding__logo a {
    width: 361px;
  }

}
